<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/public/stylesheets/bootstrap.css">
  <script src="/public/javascripts/bootstrap.js"></script>
</head>
