<% include ../layout %>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="/auth"><button type="submit" class="btn btn-primary">Вход</button></a>
        <a href="/reg"><button type="submit" class="btn btn-primary">Регистрация</button></a>
      </div>
    </div>
  </div>
</body>
</html>
